<div id="info-top">
  <div class='top-black'>
   <div class='row'>
    <!-- See later -->
    <a title="Карта сайта" class="sitemap" href="sitemap.html"><i class="fa fa-sitemap"></i> </a>
    <div class="phone-block1">
     <span itemprop="email" class="mail"><a href="mailto:info@sinnaps.ru">info@sinnaps.ru</a></span>

     <span itemprop="telephone" class="mts">+000000</span>
   </div>

   <div class="phone-block2">
    <span itemprop="telephone" class="velc">+777777</span>  
    <span itemprop="telephone" class="skype"><i class="fa fa-skype"></i><a href="skype_3Asinnaps.ru@chat">sinnaps.ru</a></span>
  </div>
  <div class="call-back">
    <div id="snake">
      <a class="but" href="kontaktyi.html#modalWindow" onclick=""><i class="fa fa-phone"></i> Бесплатный звонок</a>
    </div>
  </div>
</div>
</div>
</div>